body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, #ffa500, #3498db); /* Cores iniciais do gradiente */
  animation: changeBackground 2s infinite; /* Animando o fundo */
}

/* Animação de mudança de cor de fundo */
@keyframes changeBackground {
  0% {
    background: linear-gradient(to bottom, #00FFFF, #00FF7F); /* Cores iniciais */
  }
  50% {
    background: linear-gradient(to bottom, #D2691E, #7B68EE); /* Cores intermediárias */
  }
  100% {
    background: linear-gradient(to bottom, #FF00FF, #FFFF00); /* Cores finais */
  }
}

/* Restante do seu CSS permanece igual */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Altura mínima para exibir todo o conteúdo inicial */
}

@keyframes borderAnimation {
  0% {
    border-color: #ffa500; /* Cor inicial da borda */
  }
  50% {
    border-color: #3498db; /* Cor intermediária da borda */
  }
  100% {
    border-color: #ffa500; /* Cor final da borda */
  }
}

.plano {
  text-align: center;
  margin: 95px;
  padding: 45px;
  border-radius: 10px;
  background-color: #ffa500; /* Cor laranja */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  border: 2px solid #ffa500; /* Cor inicial da borda */
  animation: borderAnimation 1s infinite; /* Aplica a animação à borda */
}

.scroll-down {
  /* Adicione altura e rolagem para as seções adicionais */
  min-height: 300px; /* Altura mínima para iniciar a rolagem */
  overflow-y: auto; /* Adiciona rolagem vertical se houver mais conteúdo */
}

/* Restante do seu CSS permanece igual */

.circulo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #3498db;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.plano h2 {
  color: #333;
}

.plano p {
  color: #666;
}

.botao {
  display: inline-block;
  padding: 15px 25px;
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  border-radius: 5px;
  transition: background-color 0.1s ease;
}

.botao:hover {
  background-color: #2980b9;
}